<% if params[:q] %>
<h2 class="search-results">TV Shows matching "<%= params[:q] %>"</h2>
<% end %>
<div class="card-wrapper">
<% if @series.blank? %>
<div class="no-seasons">
    <h2>There doesn't seem to be anything here</h2>
    <i class="uil uil-sad-squint"></i>
    <h3>Use the search to look for shows you watch.</h3>
</div>
<% end %>
<% @series.each do |show| %>
    <div class="card-serie">
        <% 
            if show[:stored] 
                url = adduser_series_index_path(show) 
            else
                url = add_series_index_path(show)
            end
        %>
        <%= link_to url, id: "added-btn-js", class: getAddedClass(show[:tvdb_id]), method: :post do %>
            <i class="uil uil-check"></i>
        <% end %>
        <%= link_to addnouser_series_index_path(show), method: :post do %>
            <%= image_tag urlmagic('https://proxy.plazovnik.si?url=https://thetvdb.com', show[:image]), :alt => show[:title]%>
            <p><%= show[:title] %></p>
        <% end %>
    </div>
<% end %>
</div>

<script>
    const addBtn = $('*#added-btn-js');

    addBtn.each(function() {
        $(this).on('click', function(e) {
            $(this).toggleClass("added")
        })
    })

</script>