<div class="recent--wrapper">
<h2>Recent comments:</h2>
<% if @comments.blank? %>
<p>Looks like you haven't commented on any episodes recently.</p>
<% end %>
<% @comments.each do |comment| %>
  <div class="card">
    <div class="content">
        <h1>On: <%= comment.episode.title %></h1>
        <p><%= truncate comment.body, length: 150 %></p>
    </div>
    <div class="actions">
      <%= link_to "View episode page", episode_path(comment.episode) %>
    </div>
  </div>
<% end %>
</div>

<div class="recent--wrapper">
<h2>Recently watched episodes:</h2>
<% if @episodes.blank? %>
<p>Looks like you haven't watched any episodes recently..</p>
<% end %>
<% @episodes.each do |ep| %>
  <div class="card">
    <div class="content">
        <h1><%= ep.title %></h1>
        <p><%= truncate ep.summary, length: 150 %></p>
    </div>
    <div class="actions">
      <%= link_to "View episode page", episode_path(ep) %>
    </div>
  </div>
<% end %>
</div>

<div class="recent--wrapper">
<h2>Recently added series:</h2>
<% if @series.blank? %>
<p>Looks like you haven't added any shows recently.</p>
<% end %>
<% @series.each do |show| %>
  <div class="card">
    <div class="content">
        <h1><%= show.title %></h1>
        <p><%= truncate show.summary, length: 150 %></p>
    </div>
    <div class="actions">
      <%= link_to "View show page", series_path(show) %>
    </div>
  </div>
<% end %>
</div>